.ExtendedFeedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 356px;
}

.Escolha-elogio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Recado {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Envie-um-elogio {
  width: 144px;
  height: 24px;
  margin: 63px 56px 12px 0px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.83px;
  color: #000000;
}

.Deixe-um-recado {
  width: 123px;
  height: 24px;
  margin: 23px 4px 12px 0px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.83px;
  color: #000000;
}

.CommentBox {
  width: 488px;
  height: 115px;
  margin: 12px 0px 60px;
  padding: 11px 21px 60px 20px;
  border-radius: 4px;
  border: solid 2px rgba(0, 0, 0, 0.1);
}

.CommentBox > textarea {
  border: none;
  outline: none;
  width: 447px;
  height: 100%;
  opacity: 0.5;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.2px;
  color: #000000;
}
